* {
font-size: 30px;
padding: 0;
margin: 0;
}

.begin {
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 20px;
    width: 60%;
    margin: 100px auto;
    border-radius: 50px;
    display: wrap;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: 20px white;
}
    .begin h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        font-weight: bolder;
        font-style: oblique;    
    }

    .begin p {
        font-size: 20px;
        display: flex;
        justify-content: center;
    }
        .begin button{
            display: flex;
            justify-content: center;
        }
        .btnStyle {
            padding: 1%;
            width: 30%;
            margin: 0px auto;
            text-decoration: underline;
            color: black;
            background-color: rgb(0, 255, 170);
            border-style: solid black;
        }
.btnStyle:hover{
    transition: 2s;
    background-color: rgb(255, 0, 51);
    color: rgb(1, 1, 1);
}

.questionContainer{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background-color: rgb(0, 0, 0);
    border-style: solid;
    border-color: red;
    margin: 10% 20%;
    padding: 10px 10px;
    color: rgb(255, 255, 255);
    border-radius: 30px;
}

.questionTitles {
    display: contents;
    justify-content: center;
    align-items: center;
}

.qBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.qBtn:hover {
    color: black;
}


@media screen and (max-width: 521px) {
        .begin {
            background-color: black;
            color: rgb(255, 255, 255);
            padding: 10px;
            width: 60%;
            margin: 100px auto;
            border-radius: 50px;
            display: wrap;
            justify-content: center;
            align-items: center;
            border-style: solid;
            border-color: 20px white;
        }
            .begin h1 {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 20px;
                font-weight: bolder;
                font-style: oblique;    
            }
        
            .begin p {
                font-size: 13px;
                display: flex;
                justify-content: center;
            }
                .begin button{
                    display: flex;
                    justify-content: center;
                }
                .btnStyle {
                    font-size: 15px;
                    padding: 1%;
                    width: 30%;
                    margin: 0px auto;
                    text-decoration: underline;
                    color: black;
                    background-color: rgb(0, 255, 170);
                    border-style: solid black;
                }   
            
    };
